@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Moscow Sans';
    src: url('/fonts/MoscowSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Moscow Sans';
    src: url('/fonts/MoscowSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Moscow Sans';
    src: url('/fonts/MoscowSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Moscow Sans';
    src: url('/fonts/MoscowSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  * {
    font-family: 'Moscow Sans', sans-serif;
  }
  